.cases, .piece {
    height: 200px;
    width: 200px;
    margin: 5px;
    display: inline-block;
}

#P1 {
    background-color: orange;
}
#P2 {
    background-color: greenyellow;
}
#P3 {
    background-color: bisque;
}
#P4 {
    background-color: cadetblue;
}

#HG {
    background-color: tomato;
}
#HD {
    background-color: blueviolet;
}
#BG {
    background-color: blue;
}
#BD {
    background-color: aqua;
}

.zonePiece {
    background-color: blue;
    width: 435px;
    padding-left: 5px;
    padding-top: 5px;
}

.plateauLigne {
    background-color: green;
    width: 435px;
    padding-left: 5px;
    padding-top: 5px;
}